---

---
//import grid
@import 'bootstrap.min.css';
//icon classes
@import 'icomoon.css';

$textColor: #404040;
$mainGreen: #31ADA3;
$bodyBg: rgba(252, 252, 252, .9);
$underlineColor: #A4D9D5

* { box-sizing: border-box; margin: 0; padding: 0; }
body { background-color: $bodyBg; color: $textColor; }

.container {
	@media (min-width: 1200px) {
		width: 600px;
	}
	@media (min-width: 992px) {
		width: 600px;
	}
	@media (min-width: 768px) {
		width: 600px;
	}
}

@mixin transition($attr, $dur) {
-webkit-transition:$attr $dur ease-in;
   -moz-transition:$attr $dur ease-in;
     -o-transition:$attr $dur ease-in;
        transition:$attr $dur ease-in;
}

//helper class for screenreaders in standalone icons
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

header  {
	
	background-color: $mainGreen;
	height: 80px;
	
	nav {
	
		padding: 20px 15px;
		font-size: 20px;
		
		h3 {
			
			line-height: 36px;
			font-weight: 100;
			color: #fff;
			letter-spacing: .05em;
		}
		
		ul {
			text-align: right;
			list-style: none;
			padding-top: 7px;
			
			li {
				display: inline-block;
				
				a {
					color: #fff;
					
					&:hover {
						overflow: hidden;
						color: $textColor;
						text-decoration: none;
					}
				}
				@media (min-width: 768px) {
					padding: 0 10px;
				}	
			}
		}
	}
}

.info-section {
	
	margin-top: 40px;
	
	ul {
		list-style: none;
		
		li {
			width: 100%;
			clear: both;
			padding-top: 15px;
			
			&:hover span {
				color: $textColor;
			}
			
			&:first-child {
				padding-top: 0;
			}
			
			a {
				color: $textColor;
			}
			
			p {
				margin-top: 4px;
				padding-left: 20px;
			}
			
			span, p {
				float: left;
			}
			
			span {
				font-size: 30px;
				color: $mainGreen;
			}
		}
	}
}

.aside-section, .h-entry {
	
	margin-top: 40px;
	
	h3, h2 {
		font-size: 30px;
		color: #336F6A;
		border-bottom: 1px solid $underlineColor;
		margin-bottom: 15px;
		font-weight: 500;
	}
	
	h4 {
		margin-top: 15px;
	}
}

.img-modal {
	
	height: 0;
	overflow: hidden;
	overflow-x: scroll;
	background: $textColor;
	
	p {
		color: #fff;
		margin-top: 11px;
	}
	
	h4 {
		text-align: right;
		color: #fff;
		padding: 10px;
		cursor: pointer; 
	}
	
	@media (min-width: 991px) {
		overflow-x: hidden;
		text-align: center;
	}
}

.code-section {
	
	background: $mainGreen;
	margin-top: 40px;
	width: 100%;
	padding-bottom: 10px;
	
	h3 {
		margin-top: 15px;
		color: #fff;
		font-size: 22px;
		border-bottom: 1px solid $underlineColor;
		font-weight: 500;
		margin-bottom: 15px;
	}
	
	.img-btn {
		
		margin-bottom: 20px;
		cursor: pointer;
	
		 p {
		 	font-weight: 300;
			border-radius: 3px;
			padding: 5px 7px;
			text-align: center;
			color: #fff;
			border: 1px solid #fff;
			font-size: 11px;
			
			@media (min-width: 768px) {
				font-size: 12px;
				
				@include transition(background-color, 0.5s);
				
				&:hover {
					background-color: $bodyBg;
					color: $textColor;
				}
			}	
		}
	}
}

footer {
	margin-top: 40px;
	border-top: 1px solid $mainGreen;
	text-align: center;
	padding: 15px 0;
}