<div class="img-modal" id="img-modal">
	<div class="header"><p class="col-xs-8 col-md-6 col-md-offset-3" id="img-desc"></p><span id="close-icon">X</span></div>
	<img class="hidden" data-id="js1" src="../img/js1.jpeg" alt="Javascript examaple 1">
	<img class="hidden" data-id="js2" src="../img/js2.jpeg" alt="Javascript examaple 2">
	<img class="hidden" data-id="ujs" src="../img/underscore.jpeg" alt="underscoreJS example">
	<img class="hidden" data-id="css1" src="../img/css1.jpeg" alt="CSS example 1">
	<img class="hidden" data-id="css2" src="../img/css2.jpeg" alt="CSS example 2">
	<img class="hidden" data-id="html" src="../img/html1.jpeg" alt="HTML example">
</div>
<section class="container">
	<div class="row">
		<div class="col-xs-12">
			<h3>My Most Beautiful Code</h3>
		</div>
		<div class="img-btn col-xs-6 col-md-4" data-id="js1">
			<p>JavaScript Example 1</p>
		</div>
		<div class="img-btn col-xs-6 col-md-4" data-id="js2">
			<p>Javascript Example 2</p>
		</div>
		<div class="img-btn col-xs-6 col-md-4" data-id="ujs">
			<p>UnderscoreJS Example</p>
		</div>
		<div class="img-btn col-xs-6 col-md-4" data-id="css1">
			<p>CSS Example 1</p>
		</div>
		<div class="img-btn col-xs-6 col-md-4" data-id="css2">
			<p>CSS Example 2</p>
		</div>
		<div class="img-btn col-xs-6 col-md-4" data-id="html">
			<p>HTML Example</p>
		</div>
	</div>
</section>