	
	</main>
	
	<!-- modal used for code examples -->
	<div id="modal" class="modal">
		<div id="close-icon" class="close-icon"><p></p> <span>X</span></div>
		<img class="modal-img" src="">
	</div>
	<footer class="container">
		<div class="row">
			<h3 class="col-xs-12">My most beautiful code</h3>
			<p class="col-xs-12">Click image to see code</p>
		</div>
		<hr />
		<div class="row">
			<div class="ex col-xs-6 col-sm-4">
				<small> Javascript example 1 </small>
				<div class="ex-wrap">
					<img class="footerImg" src="/img/js1.jpeg" alt="Javascript examaple 1">
				</div>
			</div>
			<div class="ex col-xs-6 col-sm-4">
				<small> Javascript example 2 </small>
				<div class="ex-wrap">
					<img class="footerImg" src="/img/js2.jpeg" alt="Javascript examaple 2">
				</div>
			</div>
			<div class="ex col-xs-6 col-sm-4">
				<small> HTML example </small>
				<div class="ex-wrap">
					<img class="footerImg" src="/img/html1.jpeg" alt="HTML examaple">
				</div>
			</div>
			<div class="ex col-xs-6 col-sm-4">
				<small> UnderscoreJS example </small>
				<div class="ex-wrap">
					<img class="footerImg" src="/img/underscore.jpeg" alt="underscoreJS example">
				</div>
			</div>
			<div class="ex col-xs-6 col-sm-4">
				<small> CSS example 1 </small>
				<div class="ex-wrap">
					<img class="footerImg" src="/img/css1.jpeg" alt="CSS example 1">
				</div>
			</div>
			<div class="ex col-xs-6 col-sm-4">
				<small> CSS example 2 </small>
				<div class="ex-wrap">
					<img class="footerImg" src="/img/css2.jpeg" alt="CSS example 2">
				</div>
			</div>
		</div>
	</footer>
	
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="/js/scripts.js" type="text/javascript"></script>
</body>
</html>