<h3>Projects</h3>
<div class="row">
	<article class="col-xs-12">	
		<h4>Handelshøyskolen BI</h4>
		<div class="content-wrapper">
			<img src="../img/bi.png" width="300" alt="Tavlekast for Handelshøyskolen BI">
			<p>Multiscreen application in nodeJS with socketIO. A game used by the client to promote their school in different campaign happenings. The user walked up to a large screen and logged in to the specified room through their smartphone. With their phone they could throw balls at targets on the screen. Several participants could join in and play against each other.
				<br />Project responsibilities: frontend and backend</p>
		</div>
	</article>
	<article class="col-xs-12">
		<h4>Tine YT</h4>
		<div class="content-wrapper">
			<img src="../img/yt.jpg" width="300" alt="Campaign site for Tine YT">
			<p>Campaign site for Tine's brand YT. The wish from the client was for users to be able to upload videos of themselves training or doing sports. The application would cut out the first 10 seconds of the video and create a compilation of all the participants. The compilation was displayed in a seamless, fullscreen HTML5 video through a canvas.
				<br />Project responsibilities: frontend</p>
		</div>
	</article>
	<article class="col-xs-12">
		<h4>Match Fashion</h4>
		<div class="content-wrapper">
			<img src="../img/match.jpg" width="300" alt="Blog for Match Fashion">
			<p>Blog for matchfashion.no, developed using Wordpress CMS, Instagram API and ajax content loading for both older and newer posts.
				<br />Project responsibilities: frontend and backend</p>
		</div>
	</article>
</div>