		{% include header.html %}
		<div class="row">
			<aside class="col-xs-12 info-section">
				{% include info.html %}
			</aside>
			<article class="col-xs-12 summary-section">
				{% include summary.html %}
			</article>
		</div>
	</div> <!-- End container -->
	
	<div class="code-section">
		{% include code-examples.html %}
	</div>
	
	<div class="container">
		
		{{ content }}
	
		<div class="projects-section row">
			<div class="col-xs-12">
				{% include projects.html %}
			</div>
		</div>
		<div class="education-section row">
			<div class="col-xs-12">
				{% include education-lang.html %}
			</div>
		</div>
	</div>
</main>
{% include footer.html %}